name: CI

on:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          # Optional: enable caching for dependencies
          cache-key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --verbose

      - name: Check format
        run: cargo fmt -- --check

      - name: Run clippy
        run: cargo clippy --verbose

      - name: Run tests with default features (support serde)
        run: cargo test --verbose --package patchable

      - name: Run tests without default feature
        run: cargo test --verbose --package patchable --no-default-features

      - name: cargo test with feature impl_from
        run: cargo test --verbose --package patchable --features impl_from
