name: Lint

on:
  workflow_run:
    workflows:
      - "Build"
    types:
      - completed

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Install rustfmt and clippy
        run: rustup component add rustfmt clippy

      - name: Check formatting
        run: cargo fmt -- --check

      - name: Run clippy
        run: cargo clippy --verbose
